@import "tailwindcss";

:root {
  --background: #faf8f5;
  --foreground: #2e332d;
  --muted: #a1a1a1;
  --surface: #ffffff;
  --blue-gray: #d6dde5;
  --blue-gray-hover: #3d4b5c;
  --blush: #e8d4d5;
  --blush-hover: #dcc3c5;
  --sage: #d1d9cf;
  --sage-hover: #c1cbc0;
  --sand: #e5d3c0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-surface: var(--surface);

  --color-blue-gray: var(--blue-gray);
  --color-blue-gray-hover: var(--blue-gray-hover);
  --color-blush: var(--blush);
  --color-blush-hover: var(--blush-hover);
  --color-sage: var(--sage);
  --color-sage-hover: var(--sage-hover);
  --color-sand: var(--sand);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1c19;
    --foreground: #ece9e2;
    --muted: #8e918c;
    --surface: #242723;

    --blue-gray: #313e4e;
    --blue-gray-hover: #3d4b5c;

    --blush: #422f32;
    --blush-hover: #513b3f;

    --sage: #303c2f;
    --sage-hover: #3b4939;

    --sand: #403529;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}

.text-subtitle {
  @apply text-sm text-muted;
}

.field-label {
  @apply text-xs font-bold text-muted uppercase tracking-wide mb-2;
}

.divider {
  @apply border-t border-stone-200 my-6;
}
